<template>
  <!-- vue3页面 -->
  <div class="btn" v-if="isShow" :data-auth="type" @click="btnEvent($event)">
    <slot :auth="havePermissions">
      <el-button class="margin" :type="type" v-bind="$attrs">
        {{ label }}
      </el-button>
    </slot>
  </div>
</template>

<script setup>
import { computed, defineEmits, defineProps, defineOptions } from "vue";
defineOptions({
  name: "YjAuth",
});
const props = defineProps(["visible", "type", "label"]);
const emit = defineEmits(["click"]);

const havePermissions = computed(() => {
  return true;
});
const isShow = computed(() => {
  return props.visible;
});

const type = computed(() => {
  return props.type || "";
});

const label = computed(() => {
  return props.label;
});

const btnEvent = (e) => {
  emit("click", e);
};
</script>

<style scoped lang="scss">
.btn {
  display: inline-block;
}
</style>
