<template>
  <div class="small-title">
    <p>{{ props.title }}</p>
    <div class="right"><slot name="button"></slot></div>
  </div>
</template>

<script setup>
import { defineProps, defineOptions } from "vue";
const props = defineProps(["title"]);
defineOptions({
  name: "YHeader",
});
</script>
<style lang="scss" scoped>
.small-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-weight: bold;
  }
  .right {
    display: flex;
    :deep(.el-button) {
      margin: 0 5px;
    }
  }
}
</style>
