<template>
  <!-- vue3页面 -->
  <div class="search">
    <el-form
      :model="searchForm"
      ref="formRef"
      class="searchForm"
      :inline="true"
      label-width="100"
    >
      <template v-for="item in searchConfig" :key="item.prop">
        <el-form-item
          :label="item.label"
          style="margin-right: 10px"
          :prop="item.prop"
        >
          <template v-if="item.type === 'input'">
            <el-input
              :placeholder="item.placeholder"
              v-model="searchForm[item.prop]"
              :style="{ width: (item.width || 200) + 'px' }"
              clearable
            >
            </el-input>
          </template>
          <template v-if="item.type === 'select'">
            <el-select
              clearable
              v-model="searchForm[item.prop]"
              :placeholder="item.placeholder"
              :style="{ width: (item.width || 200) + 'px' }"
            >
              <el-option
                v-for="opt in item.options"
                :key="opt.value"
                :label="opt.label"
                :value="opt.value"
              />
            </el-select>
          </template>
          <template v-if="item.type === 'datePicker'">
            <el-date-picker
              clearable
              v-model="searchForm[item.prop]"
              type="daterange"
              range-separator="-"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              :style="{ width: (item.width || 200) + 'px' }"
            />
          </template>
        </el-form-item>
      </template>
    </el-form>
    <div class="btn">
      <!-- 2.重置和搜索的按钮 -->
      <el-button type="primary" @click="search">搜索</el-button>
      <el-button @click="resetClick">重置</el-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "YSearch",
};
</script>
<script setup>
// defineOptions({
//   name: "YSearch",
// });
import {
  ElInput,
  ElOption,
  ElSelect,
  ElDatePicker,
  ElFormItem,
  ElForm,
  ElButton,
} from "element-plus";

import { reactive, ref, computed, defineEmits } from "vue";
const props = defineProps(["searchConfig", "searchForm"]);
const emit = defineEmits(["searchEvent"]);
const searchConfig = computed(() => {
  return props.searchConfig;
});

const searchForm = reactive(props.searchForm);
// let searchForm = reactive({});
const formRef = ref(null);

const resetClick = () => {
  formRef.value.resetFields();
};

const search = () => {
  emit("searchEvent", searchForm);
};
</script>

<style lang="scss">
.search {
  display: flex;
  justify-content: space-between;
  .searchForm {
    flex: 1;
  }
  .btn {
    width: 150px;
    display: flex;
    justify-content: flex-end;
  }
}
</style>
